@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}
main {
    width: 100%;
    height: 100%;
}
.navbar {
    width: 100%;
    height: 400px;
    background-image: url(./img/header-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    border-radius: 0px 0px 48px 48px;
    position: relative;
    text-align: center;
}
.nav {
    width: 100%;
    height: 400px;
    background: linear-gradient(104.88deg, #000080c6 0%, #ff89277a 130.26%);
    padding: 2rem;
    border-radius: 0px 0px 48px 48px;
}
.nav-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    border-radius: 0px 0px 48px 48px;

}
.nav-date p {
    display: flex;
    align-items: center; 
    gap: 1rem;  
}
.navbar h3 {
    width: 100%;
    font-size: 2.75rem;
    font-weight: 800;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

/* content section */

.content {
    width: 100%;
    height: 100%; 
}
.content .content-item {
    padding: 1rem 2rem;
}
.content .content-item h2 {
    padding-top: 1rem;
    color: #000080;
    font-size: 30px;
    font-weight: 800;
    font-family: "Caladea", serif;
}
.mark {
    color: #FF8827;
    font-size: 30px;
    font-weight: 800;
    font-family: "Caladea", serif;
}

.content .content-item p {
    color: #272727;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding-top: 1rem;
    line-height: 28px;
    letter-spacing: 0;
}


/* key stats section */

.row {
    width: 100%;
    background: linear-gradient(105.86deg, #F6F6FF 0%, rgba(246, 246, 255, 0) 100%);
    border: 1px solid #DDDDFF;
    border-radius: 24px;
    padding: 2rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.row .col-6 {
    width: 50%;
}
.pad {
    padding-left: 2rem;
}

.border {
    display: block;
    width: 2%;
    height: 100%;
    border-right: 1px solid #DDDDFF;
}
.grident-heading {
    background: linear-gradient(90deg, #000080 0%, #FF8827 100%);
    padding: 1rem 3rem 1rem 1rem;
    border-radius: 8px;
    max-width: 350px;
}
.row .col-6 ul {
    list-style: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.row .col-6 ul li {
    background: url('./img/list-icon.png') no-repeat left center;
    padding-left: 24px;
    background-size: 16px;
    padding-left: 24px;
    font-size: 14px;
}

.grident-heading h4 {
    font-family: "Caladea", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 27.6px;
    letter-spacing: 0%;
    color: #fff;

}

.impact-section {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.content-item .left,
.content-item .right  {
    width: 50%;
    height: 100%;
}
.content-item .left img {
    width: 100%;
    height: 100%;
}

.content-item .right .btn {
    border-radius: 36px;
    padding: 13.33px 24px;
    background: #FF8827;
    border: none;
    color: #fff;
    margin-top: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}